# test files
test*
test 2*
TODO.txt
wordList.txt
treasureData.txt

# Env
.env
.github/scripts/__pycache__/*

# copilot files
.github/lua-wow-addon-development.collection.yml
.github/instructions/*
.github/prompts/*
