name: Lua Code Quality

on: [pull_request]

jobs:
  lint-and-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Lua
        uses: leafo/gh-actions-lua@v11.0.0
        with:
          luaVersion: '5.1'

    # - name: Install and run Luacheck
          # uses: nebularg/actions-luacheck@v1.1.2
          # with:
          #   args: "--no-color -q"
      - name: Set up Luarocks
        uses: leafo/gh-actions-luarocks@v4.3.0

      - name: Install Luacheck
        run:  |
          sudo apt-get install luarocks
          sudo luarocks install luacheck

      # - name: Install Stylua
      #   run: |
      #     wget -qO- "https://github.com/JohnnyMorganz/StyLua/releases/latest/download/stylua-linux.zip" > stylua.zip
      #     unzip stylua.zip stylua
      #     chmod +x stylua
      #     sudo mv stylua /usr/local/bin/stylua

      - name: Run Luacheck APR-Core
        run: luacheck ./APR-Core

      - name: Run Luacheck Routes
        run: luacheck ./Routes

      # - name: Run Stylua
      #   run: stylua --check .

      - name: Commit and push changes
        run: |
          git config user.name "Neoldric"
          git config user.email "<neogeekmo@live.fr>"
          git add -u
          git commit -am "Apply Lua code formatting and linting" || true
          git push --set-upstream https://${{ secrets.GIT_TOKEN }}@github.com/Azeroth-Pilot-Reloaded/azeroth-pilot-reloaded HEAD:dev

