name: Lua Code Quality

on: [pull_request]

jobs:
  Code_Linter:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - name: Set up Lua
        uses: leafo/gh-actions-lua@v12.0.0
        with:
          luaVersion: '5.1'

      - name: Set up Luarocks
        uses: leafo/gh-actions-luarocks@v6

      - name: Install Luacheck
        run:  |
          sudo apt-get install luarocks
          sudo luarocks install luacheck

      - name: Run Luacheck APR-Core
        run: luacheck ./APR-Core

      - name: Run Luacheck Routes
        run: luacheck ./Routes


