name: Localization ping

on:
  workflow_dispatch:
    inputs:
      locales:
        description: "Comma-separated list of locales to check (e.g., frFR,deDE,ruRU)"
        required: false
        default: "frFR,deDE,ruRU"
  schedule:
    - cron: 0 * * * *

jobs:
   translations:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests python-dotenv termcolor cloudscraper beautifulsoup4

      - name: Run translation check
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_LOCALES_WEBHOOK }}
          LOCALES: ${{ github.event.inputs.locales }}
        run: |
          python .github/scripts/localization_post_discord.py

