name: Release Addon

on:
  push:
    tags:
      - '**'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to release'
        required: true
        type: string

env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: WoW Packager
        uses: BigWigsMods/packager@master
        with:
          args: -p 618667 -w 26457 -a XKq9xXKy

