name: Update TOC Interface version(s)

on:
  workflow_dispatch:
  schedule:
    - cron: 0 12 * * *

permissions:
  contents: write
  pull-requests: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v5.0.0

      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.x"

      - name: Update TOC Interface version
        run: python .github/scripts/toc-updater.py --ptr

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7.0.8
        with:
          token: ${{ secrets.GIT_TOKEN }}
          title: "Auto updates supported interface versions"
          body: |
            ## Requirements

            - [ ] Check [APi changelog](https://warcraft.wiki.gg/wiki/API_change_summaries)
            - [ ] Test for all applicable game clients

            ----------------------------------------------------
            _This PR was automatically created to update the supported interface versions in APR.toc._
          commit-message: "Auto updates supported interface versions"
          branch: interface-version
          delete-branch: true
